# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled python files
*.pyc

# Generated folders
build/
bin/
lib/
msg_gen/
srv_gen/

# KDevelop project file/folder
*.kdev4
*.kdev4/

# PyCharm project folder
*.idea/

# Temporary files
*~
